
table {
  border: 1px solid black;
  width: 500px;
  height: auto;
  display: inline-block;
}

tr {
  border: 1px solid black;
}

td {
  border: 1px solid black;
  width: 50px;
  height: 50px;
}

td:hover {
  background-color: gray;
}

.ship {
  background: green;
}

.hit {
  background: red;

}
.disable-event {
  pointer-events: none;
}

.water {
  background: aqua;
  pointer-events: none;
}
